/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require sb-admin/css/sb-admin
 *= requuire sb-admin/css/plugins/morris
 *= require_self
 */


#chartbg { 
	background-color: #30303d;
	color: #fff;
}

#chartdiv {
  width: 96%;
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.amcharts-graph-g1 .amcharts-graph-fill {
  filter: url(#blur);
}

.amcharts-graph-g2 .amcharts-graph-fill {
  filter: url(#blur);
}


.amcharts-cursor-fill {
  filter: url(#shadow);
}